<html ng-app="app" ng-controller="mainController as main" ng-cloak>
    <head>
        <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
        <script
          src="https://code.jquery.com/jquery-3.3.1.js"
          integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
          crossorigin="anonymous"></script>
        <!-- <script src="nui://game/ui/jquery.js" type="text/javascript"></script> -->
        <script src="./assets/js/angular.min.js" type="text/javascript"></script>
        <script src="./assets/js/script.js?v=1.8" type="text/javascript"></script>
        <link href="./assets/css/foundation.min.css" rel="stylesheet" type="text/css" />
        <link href="./assets/css/style.css" rel="stylesheet" type="text/css" />
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    </head>
    <body style="background: transparent;">
        <div class="dialog">
            <div class="container">
                <div class="menu">
                    <h1>Freight Mobile</h1>
                    <ul class="nav">
                        <li ng-repeat="section in sections" ng-class="{'active': currentSection == $index}" ng-click="changeView($index, 0)">{{ section }}</li>
                    </ul>
                </div>
                <div class="area">
                    <div ng-show="currentSection == 0">
                        <div class="row item collapse">
                            <div class="large-12 columns">
                                <div class="info">
                                    <div class="trailer">
                                        <div class="trip">
                                            <span class="trailerType"><span class="orange">A place</span></span>
                                            <span class="destination">From here ↝ To there</span>
                                        </div>
                                        <div class="icon logo postop"></div>
                                    </div>
                                    <div class="offer">
                                        <div class="text">
                                            <span class="expected">Weight: <b>12,235 lb</b></span><br />
                                            <span class="expires">About a mile away</span>
                                        </div>
                                        <div class="icon play" aria-hidden="true" ng-click="startJob(job.id)"></div>
                                        <div class="offerAmount"><span class="orange" id="payout">$3,564</span><br />$754/mi</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row item collapse">
                            <div class="large-12 columns">
                                <div class="info">
                                    <div class="trailer">
                                        <div class="trip">
                                            <span class="trailerType"><span class="orange">A place</span></span>
                                            <span class="destination">From here ↝ To there</span>
                                        </div>
                                        <div class="icon logo postop"></div>
                                    </div>
                                    <div class="offer">
                                        <div class="text">
                                            <span class="expected">Weight: <b>12,235 lb</b></span><br />
                                            <span class="expires">About a mile away</span>
                                        </div>
                                        <div class="icon warning" aria-hidden="true" ng-click="startJob(job.id)"><span class="tooltip">You're already on a job</span></div>
                                        <div class="offerAmount"><span class="orange" id="payout">$3,564</span><br />$754/mi</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row item collapse">
                            <div class="large-12 columns">
                                <div class="info">
                                    <div class="trailer">
                                        <div class="trip">
                                            <span class="trailerType"><span class="orange">A place</span></span>
                                            <span class="destination">From here ↝ To there</span>
                                        </div>
                                        <div class="icon logo postop"></div>
                                    </div>
                                    <div class="offer">
                                        <div class="text">
                                            <span class="expected">Weight: <b>12,235 lb</b></span><br />
                                            <span class="expires">About a mile away</span>
                                        </div>
                                        <div class="icon warning" aria-hidden="true" ng-click="startJob(job.id)"></div>
                                        <div class="offerAmount"><span class="orange" id="payout">$3,564</span><br />$754/mi</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="paging">
                            <ul>
                                <li ng-repeat="i in [] | range: getJobsPageCount()" ng-class="{'active': currentPage == i}" ng-click="changeView(currentSection, i)">&bull;</li>
                            </ul>
                        </div>
                    </div>
                    <div ng-show="currentSection == 1">
                        Deliveries
                    </div>
                    <div ng-show="currentSection == 2">
                        Auctions Coming Soon
                    </div>
                </div>
                <div class="bottom-nav">
                    <ul>
                        <li><div ng-click="back()" ng-class="{'disabled': noHistory}" class="navcon arrow"></div></li>
                        <li><div ng-click="home()" ng-class="{'disabled': currentSection == 0}" class="navcon circle"></div></li>
                        <li><div ng-click="close()" class="navcon box"></div></li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>
