body {
    font-family: sans-serif;
    overflow: hidden;
    display: none;
}

#cursor {
    position: absolute;
    z-index: 999999;
    display: none;
}

.dialog {
    position: absolute;
    top: 35%;
    left: 50%;
    width: 40%;
    transform: translateX(-50%);
    border: 2px solid #999;
    border-radius: 4px;
}

.titleBar {
    background-color: #999;
    text-align: right;
    font-size: 1.2em;
}

#close {
    position: relative;
    top: 5px;
    right: 7px;
    color: #fff;
}

.titleBar, .area {
    opacity: 0.95;
}

.area {
    background-color: #999;
    color: #FFF;
    padding: 10px;
}

.item {
    margin-bottom: 15px;
}

.trailer span {
    display: block;
    margin: 5px 0;
}

.muted {
    color: #CCC;
}

.orange {
    color: #d68f00;
    font-weight: 700;
}

.trailer {
    padding: 5px 15px;
    background-color: #555;
}

.trailer > div {
    display: inline-block;
}

.trailer .trailerType {
    font-size: 1.1em;
}

.trailer .destination {
    font-size: 0.9em;
    color: #EEE;
}

.logo {
    float: right;
}

.offer {
    padding: 13px 15px;
    background-color: #777;
}

.offer > div {
    display: inline-block;
}

.offer > .text {
    margin: 2px 0;
}

.offerAmount, .play {
    float: right;
}

.offerAmount {
    background-color: #555;
    border-radius: 3px;
    text-align: center;
    padding: 0 10px;
}

.play {
    margin-top: 8px;
    margin-left: 17px;
}

.flag-green, .flag-red, .flag-yellow, .history, .money, .percent, .play, .tag-green, .tag-yellow, .prolaps, .redwood, .sprunk, .cluckinbell, .globeoil, .gopostal, .dollar-pills, .postop, .logger{
    background: url(sprites.png) no-repeat;
}

.flag-green{
    background-position: -290px 0;
    width: 32px;
    height: 32px;
}

.flag-red{
    background-position: -256px 0;
    width: 32px;
    height: 32px;
}

.flag-yellow{
    background-position: -220px 0;
    width: 32px;
    height: 32px;
}

.history{
    background-position: -107px 0;
    width: 32px;
    height: 32px;
}

.money{
    background-position: -75px 0;
    width: 32px;
    height: 32px;
}

.percent{
    background-position: -38px 0;
    width: 32px;
    height: 32px;
}

.play{
    background-position: 0 0;
    width: 32px;
    height: 32px;
}

.tag-green{
    background-position: -143px 0;
    width: 32px;
    height: 32px;
}

.tag-yellow{
    background-position: -182px 0;
    width: 32px;
    height: 32px;
}

.prolaps{
    background-position: -143px -90px ;
    width: 80px;
    height: 40px;
}

.redwood{
    background-position: -154px -37px ;
    width: 80px;
    height: 49px;
}

.sprunk{
    background-position: -238px -40px ;
    width: 80px;
    height: 40px;
}

.cluckinbell{
    background-position: -48px -35px ;
    width: 50px;
    height: 52px;
}

.globeoil{
    background-position: 0 -37px ;
    width: 45px;
    height: 45px;
}

.gopostal{
    background-position: -101px -38px ;
    width: 45px;
    height: 47px;
}

.dollar-pills{
    background-position: 0 -92px ;
    width: 120px;
    height: 23px;
    margin-top: 17px;
}

.postop{
    background-position: -226px -92px ;
    width: 30px;
    height: 50px;
}

.logger{
    background-position: -258px -89px ;
    width: 65px;
    height: 56px;
}

.alert {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% { opacity: 0.6; }
}