@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab-Bold.ttf');
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Thin.ttf');
}

body {
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    display: block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

ul {
    list-style: none;
    margin-left: 0;
    text-align: center;
}

li {
    display: inline-block;
}

.dialog {
    position: absolute;
    top: 22%;
    left: 50%;
    width: 19%;
    height: 765px;
    transform: translateX(-50%);
    border-radius: 10px;
    background: url('../images/map.jpg') -121px -32px #333;
    background-size: cover;
    -webkit-box-shadow: 0px 0px 141px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 141px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 141px 2px rgba(0,0,0,0.75);
}

.titleBar {
    text-align: right;
    font-size: 1.2em;
}

.titleBar, .area {
    opacity: 0.95;
}

.area {
    color: #FFF;
    padding: 35px;
    padding-top: 0;
}

.menu {
    color: #FFF;
    padding: 35px 0 10px 0;
}

h1,.nav {
    text-align: center;
    text-transform: uppercase;
}

h1 {
    font-family: 'Roboto Slab', sans-serif;
    margin-top: -25px;
    margin-bottom: 7px;
    font-size: 3.056em;
}

.nav {
    font-size: 1.2em;
}

.nav li {
    margin: 0 34px;
    color: #d8d8d8;
    border-bottom: 2px solid transparent;
    transition: all 0.25s ease;
}

.nav li.active {
    color: #FFF;
    border-bottom: 2px solid #FABE58;
}

.item {
    border-left: 6px solid #FABE58;
    border-radius: 3px;
    margin-bottom: 15px;
}

.trailer span {
    display: block;
    margin: 5px 0;
}

.orange {
    color: #01475f;
    font-family: 'Roboto Slab', sans-serif;
}

.trailer {
    padding: 5px 15px;
    background-color: #f9f9f9;
}

.trailer > div {
    display: inline-block;
}

.trailer .trailerType {
    font-size: 1.53em;
}

.trailer .destination {
    font-weight: 100;
    margin-top: -5px;
    color: #333;
}

.logo {
    float: right;
}

.offer {
    padding: 13px 15px;
    background-color: #eee;
}

.offer > div {
    display: inline-block;
}

.offer > .text {
    margin: 2px 0;
    color: #333;
    font-weight: 100;
}

.offer > .text b {
    color: #666;
}

.offerAmount {
    float: right;
    background-color: #e2e2e2;
    color: #333;
    border-radius: 3px;
    text-align: center;
    padding: 0 10px;
    margin-left: 27px;
    margin-right: 19px;
}

.paging {
    position: fixed;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    max-height: 35px;
}

.paging li {
    font-size: 4.5em;
    line-height: 0;
    vertical-align: middle;
    color: #bababa;
}

.paging li.active {
    color: #fff;
}

.bottom-nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #1e1e1e;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.bottom-nav ul {
    padding: 13px 0;
}

.bottom-nav li {
    color: #FFF;
    font-size: 1.45em;
}

.home {
    margin: 0 161px;
}

.navcon {
    width: 23px;
    height: 23px;
    background: url('../images/nav.png');
}

.arrow {
    background-position: -1px -1px;
}

.circle {
    background-position: -26px -1px;
}

.box {
    background-position: -1px -26px;
}

.icon {
    background: url('../images/icons.png');
}

.logo {
    float: right;
}

.play {
    width: 32px;
    height: 32px;
    background-position: -1px -182px;
    float: right;
    margin-top: 10px;
    margin-right: 5px;
    color: #66CC99;
    font-size: 1.4em;
}

.cluckinbell {
    width: 50px;
    height: 52px;
    background-position: -165px -1px;
}

.dollar_pills {
    width: 120px;
    height: 23px;
    background-position: -1px -110px;
    margin-right: -1px;
    margin-top: 22px;
}

.flag_green {
    width: 32px;
    height: 32px;
    background-position: -35px -182px;
}

.flag_red {
    width: 32px;
    height: 32px;
    background-position: -48px -135px;
}

.flag_yellow {
    width: 32px;
    height: 32px;
    background-position: -150px -135px;
}

.globeoil {
    width: 45px;
    height: 45px;
    background-position: -1px -135px;
}


.gopostal {
    width: 45px;
    height: 47px;
    background-position: -165px -55px;
}

.history {
    width: 32px;
    height: 32px;
    background-position: -69px -182px;
}

.logger {
    width: 65px;
    height: 56px;
    background-position: -1px -52px;
    margin-right: -5px;
    margin-top: 4px;
}

.money {
    width: 32px;
    height: 32px;
    background-position: -82px -135px;
}

.percent {
    width: 32px;
    height: 32px;
    background-position: -116px -135px;
}

.postop {
    width: 30px;
    height: 50px;
    background-position: -217px -1px;
    margin-right: 7px;
    margin-top: 6px;
}

.prolaps {
    width: 80px;
    height: 40px;
    background-position: -83px -1px;
}

.redwood {
    width: 80px;
    height: 49px;
    background-position: -1px -1px;
}

.sprunk {
    width: 80px;
    height: 40px;
    background-position: -83px -43px;
}

.tag_green {
    width: 32px;
    height: 32px;
    background-position: -103px -182px;
}

.tag_yellow {
    width: 32px;
    height: 32px;
    background-position: -137px -182px;
}

.alert {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% { opacity: 0.6; }
}
